                   /* font family  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
       
                  /* font family  */


                /* first section styles start  */
.first{  
    width: 1440px;
    height: 677px;
    background: #2D25A0;
}
.first-section{
    display: flex;
    gap: 102px;
}
.props{
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.link-button{
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    text-decoration: none;
    border-radius: 20px;
    background: #E02C6D;
}
.link-button:hover{
    color: #ffffff;
    background-color: #2D25A0;
}
.first-section img{
    width: 556.01px;
    height: 438px;
    left: 1299.01px;
    top: 153px;
}
          /* first section styles end  */


 /* second section styles start  */


.second{
    background-color: whitesmoke;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 27px;
    margin-left: 180px;
    margin-top: 70px;
    justify-content: center;
}
.player{
    background-color: white;
    width: 330px;
    height: 474px;
    border: 20px;
    font-family: 'Roboto', sans-serif;
}
.player img{
    width: 300px;
    height: 240px;
    margin-left: 15px;
}

     /* second section styles end  */

                   /* third section styles start  */

.third-section{
    background-color: grey;
    height: 400px;
    width: 1400px;
}
.third{
    display: flex;
    gap: 300px;
}
.copa-hof{
    margin-left: 70px;
}
.hof{
    text-decoration:none ;
    font-size: large;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-left: 100px;
    margin-top: 100px ;
    height: 30px;
    width: 140px;
    padding : 10px 20px;
    background: white;
    
}
.goal{
    margin-top: 20px;
}
          /* third section styles end  */

          /* footer styles start  */

.footer-design{
    position: absolute;
    width: 483.87px;
    height: 213px;
    left: 475px;
    top: 2800px;
    align-items: center;
}
.footer-design img{
    align-content: center;
    height: 100px;
    width: 200px;
}
.ficons{
    display: flex;
}
         /* footer styles end  */

                         /* media query  */       
                         
                         /* mobile device  */


                         @media only screen and (max-width:688px) {
                             
                             .first{
                                 width: 1000%;
                             }
                             .second{
                                 width: 100%;
                             }
                             .players{
                                 grid-template-columns: repeat(1, 1fr);
                             }
                             .player{
                                 flex-direction: column;
                             }
                            .footer-design{
                                width: 100%;
                            }
                        }